body {
    text-align:center;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container{
    display:flex;
    flex-direction:column;
    padding : 5%;
    gap:5px;
}

.container input {
    color:grey;
    border-color:white;
    border-radius:5px;
    box-shadow:2px black;
}

.container-btn button{
    color:white;
    border:1px solid white;
    border-radius:5px;
    padding:2%;
    width:15%;
    text-align:center;
}

.container-btn #merah{
    background-color:red;
}
.container-btn #biru{
    background-color:blue;
}
.container-btn #hijau{
    background-color:green;
}
